
body,h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}

.bgimg {
    background-color: bisque;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/transparentBack.png");
}

.gameboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hint-view {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin: 20px;
}

.hint-img {
    height: 100%;
}
.stats, .currentword {
    width: 80%;
}

.mobile {
    position: relative;
    top: 20;
    display: none;
}

.remaining {
    margin-top: 10px;
}

.title, .w3-border-grey {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.w3-display-middle {
    text-align: center;
    width: 60%;
}

.w3-card-4 {
    margin: 8px;
} 

.wordImage {
    padding: 10px;
    width: 50%;
}

#play {
    margin: 20px;
    font-size: 32px;
    padding: 10px;
}



@media only screen and (max-width: 668px) {
    .w3-display-middle {
        display: none;
    }

    .mobile {
        display: block
    }
};